:root {
    --bg_darkmode: #ffe389;
    --year1: #ffc5c5;
    --year2: #ffdaa2;
    --year3: #d8ffa2;
    --year4: #a2c6ff;
    --bgHoverNode: #ff9752;
    --borderHoverNode: #333;
}

.tree {
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--bg_darkmode);
}

.graph {
    background-color: var(--bg_darkmode);
    border: none;
}
.graph text, .graph .node.root div {
    fill: #333;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.graph .node rect {
    stroke: #ccc;
    fill: #fff;
    stroke-width: 2px;

}
.node {
    cursor: pointer;
}
.node.y1 rect {
    stroke: black;
    fill: var(--year1);
}
.node.y1:hover rect {
    stroke: blue;
    fill: brown;
}
.node.y2 rect {
    fill: var(--year2);
}
.node.y2:hover rect {
    stroke: blue;
    fill: brown;
}
.node.y3 rect {
    fill: var(--year3);
}
.node.y3:hover rect {
    stroke: blue;
    fill: brown;
}
.node.y4 rect {
    fill: var(--year4);
}
.node.y4:hover rect {
    stroke: blue;
    fill: brown;
}

.graph .node.disabled rect {
    stroke-dasharray: 5,5;
}
.graph .node.disabled text {
    fill: #333;
}
.graph .edgePath path {
    stroke: #ff2c2c;
    fill: #aaa;
    stroke-width: 2px;
}
.graph .edgePath.CS111 path {
    stroke: #333;
    fill: #333;
}
/* Arrowhead */
.graph .edgePath marker path {
    stroke: none;
}

.treeContainer{
    display: flex;
}


.subtree {
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

/* popup style */
.popup-bg {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0px;
    background-color: #0000005e;
}
.window-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: fit-content;
    border: 3px solid #252525;
    background-color: #937777;
    border-radius: 10px;
}
.closeBox {
    display: flex;
    justify-content: center;
}
#close {
    background-color: #de5f5f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-sizing: content-box;
    padding: 3px 10px 5px;
}
#close:hover {
    background-color: #da4848;
    border: 1px solid #333;
    border-radius: 10px;
    scale: 1.03;
}
.courseName {
    border-bottom: #252525;
}